<a href="https://colab.research.google.com/github/pammyyAnn/Advance-Data-Visualization-Midterm-exam/blob/main/Advance_Data_Visualization_Midterm_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name = input("what is your name? ")
print("Hello", name.capitalize())
age = input("How old are you?")
print("You are", age, "years old")

what is your name? Pamela Ann
Hello Pamela ann
How old are you?21
You are 21 years old

In [5]:
s = "pizza"
t = s.capitalize()
print (t)

Pizza

In [6]:
s = "pizza"
t = s.upper()
print(t)

PIZZA

In [7]:
s = "pizza"
t = s.lower()
print(t)

pizza

In [10]:
name = "Read"
name.replace('Read','Peal')

'Peal'

In [60]:
a = 2
b = 3
c = 2.3
d = True
type(a), type(b), type(c), type(d)

(int, int, float, bool)

In [15]:
name = input("What is your name?")
print(f"Hello {name} !")
birth_year = input ("What is your birth year?")
birth_year = int(birth_year)
print(f"You are {2023 - birth_year} years odl!")

What is your name?Pamela Ann
Hello Pamela Ann !
What is your birth year?2001
You are 22 years odl!

In [55]:
choice = int(input ("Enteryour choice:"))
print ("Enter two numbers: ")
num1 = float (input())
num2 = float (input())

Enteryour choice:10
Enter two numbers:
4
5

In [58]:
if choice == 1:
  res = num1 + num2
  print("Result = ", res)
elif choice == 2:
  res = num1 - num2
  print("Result = ", res)
elif choice == 3:
    res = num1 * num2
    print("Result = ", res)
elif choice == 4: 
  res = num1 / num2 
  print("Result = ", res)
elif choice == 5:
  exit()
else:
  print("Wrong output..!!")

Wrong output..!!

In [18]:
thislist = ["apple", "banana","cherry"]
print("thislist['apple']")

thislist['apple']

In [19]:
thislist = ["apple", "blackcurrant", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [20]:
rhislist = ["applea", "banana", "cherry"]
thislist.append("orange")
print (thislist)

['apple', 'blackcurrant', 'cherry', 'orange']

In [21]:
x = [7,4,3,2,5]
x.remove(5)
print(x)

[7, 4, 3, 2]

In [22]:
z = [7,5,3,3]
print(z.pop(1))
print(z)

5
[7, 3, 3]

In [23]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [24]:
z = [1,2,3,4,5]
z.insert(4,[1,2])
print(z)

[1, 2, 3, 4, [1, 2], 5]

In [30]:
import numpy
lst = [1,7,0,6,2,5,6]
arr = numpy.asarray(lst)
("numpy: ", arr)
arr1 = numpy.asarray(arr)
print("arr: ", arr1)
arr1[3] = 23
print("lst: ", lst)
print("arr1: ", arr1)

arr:  [1 7 0 6 2 5 6]
lst:  [1, 7, 0, 6, 2, 5, 6]
arr1:  [ 1  7  0 23  2  5  6]